<div class="col-xs-4">
  <%= image_tag image.image.thumb.to_s, class: "img-responsive img-thumbnail", alt: image.name %>
  <%= link_to 'Edit', edit_image_path(image) %> |
  <%= link_to 'Remove', image, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>